{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <div class="container">
        <h1> Mon compte</h1>
        <p> Bienvenu {{ app.user.firstname }} dans votre compte </p>
        <hr>
        <a href="{{ path('account_password') }}"> Modifier mot de passe</a><br>
        <a href="{{ path('account_password') }}"> Ajouter une addresse</a><br>
        <a href="{{ path('account_password') }}"> Mes Commandes </a><br>
    </div>

{% endblock %}
