{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <div class="container">
        <h1> Modifier mon mot de passe </h1>
        <p> Bienvenu {{ app.user.firstname }} dans votre compte </p>
        <hr>
        <a href="{{ path('account') }}"> retourner a mon compte</a><br>
        <hr>
        {% if notification %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ notification }}
            </div>
        {% endif %}
        {{ form(form) }}
        <hr>
    </div>

{% endblock %}