{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1> Modifier mon mot de passe </h1>
    <p> Bienvenu {{ app.user.firstname }} dans votre compte </p>
    <hr>
    <a href="{{ path('account') }}"> retourner a mon compte</a><br>
    <hr>
    {% if notification %}
    <div class="alert alert-info">
        {{ notification }}
    </div>
    {% endif %}
{{ form(form) }}
    <hr>

{% endblock %}