{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}

{% block content %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <div class="container text-white text-center m-4">
            <h1>La tendance du moment </h1>
        </div>
        <div class="wrapper">
            <div class="row product-container ">

                <div class="row g-1">

                    {% for product in products %}
                        <div class="col-auto m-2">
                            {% include'product/single_product.html.twig' %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div><!-- /.row -->

        <!-- START THE FEATURETTES -->

        <div class="row featurette text-white">
            <div class="col-md-7">
                <h2 class="featurette-heading">  Une équipe de professionnels <span
                            class="text-muted">au grand savoir faire !</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
              <img src="{{ asset('assets/images/first.jpg') }}" class="img-thumbnail" alt="un savoir faire français">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette text-white">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Venez nous rencontrer dans   <span
                            class="text-muted">Nos differents boutiques en france</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/images/second.jpg') }}" class="img-thumbnail" alt="Ouvert toute l'année">
            </div>
        </div>

        <hr class="featurette-divider">

      
        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


{% endblock %}
{% block footer %}
    {% include'footer/footer.html.twig' %}
{% endblock %}