{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié La boutique Aya {% endblock %}

{% block content %}

    <div class="container small-block rounded-pill bg-dark text-white mt-5">

        {% for message in app.flashes('notice') %}
            <div class="container alert alert-warning alert-dismissible fade show small-block mt-5 " role="alert">
                <strong>Info! </strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <div class="form-group m-4 p-4">
            <form method="post">

                <div class="container m-4 p-4 text-center">
                    <h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe </h1>
                </div>


                <label for="inputEmail">Votre Email</label>
                <input type="email" name="email" id="inputEmail"
                       placeholder="Votre adresse email" class="form-control" required
                       autofocus>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                <div class="container">
                    <p>Pas encore de compte ? cliquez <a href="{{ path('register') }}">ici</a></p>
                </div>

                <div class=" container text-center">
                    <button class="btn btn-lg btn-primary text-center m-5" type="submit">
                        Valider
                    </button>
                </div>

            </form>

        </div>

    </div>

{% endblock %}
{% block footer %}
    {% include'footer/footer.html.twig' %}
{% endblock %}

