
body {
    background: url(../images/bg.png);
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}
p{

}
ul li a{
    font-size: 16px;
}
.site {
    margin-bottom: 0px;
}

.titre {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 60px;
}
/*
login
 */

.small-block
{
    max-width: 600px;
    margin: 0 auto;
}

/*
form chek order
 */
.form-check
{
    border-radius: 5px 5px;
    background: #6c757d;
    padding: 20px 65px;
    margin-top: 7px;
}
.order-details
{
    background: #6c757d;
    padding: 10px;
    border-radius: 5px;
}
.col-form-label
{
    font-weight: bold;
    background:  #770088;
    text-align: center;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 3px 3px #333;
    border-radius: 5px;
}
.col-3 .price-order
{
    background: #770088;
    border-radius: 2px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 3px 3px #333;
}
.price
{
    background: #770088;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 3px 3px #333;
    position: absolute;
    right: -8px;
    top: 18px;
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 3px;
}
.col-6 .price-order
{
    background: #770088;
    border-radius: 2px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 3px 3px #333;
}

.footer_customer {
    color: #FFFFFF;
    text-align: center;
    position: static;
    bottom: 2px;
    width: 100%;
    padding-top: 25px;
}

.product-item .caption h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 45px;
    color: #770088;
    font-weight: bold;
}

.product-item .caption .product-subtitle {
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
}

.product-item .caption {
    margin-bottom: 80px;
}
.form-check
{
    background: transparent;
    margin: 0px;
}

.text-logo {
    font-family: 'Holtwood One SC', sans-serif;
    color: #770088;
    text-shadow: 2px 2px #e8f2ff;
    font-size: 60px;
    padding: 40px 40px;
    margin-bottom: 40px;
    text-align: center;
}


.text-logo .glyphicon {
    color: #ffd301;
    text-shadow: 0px 0px #ffd301;
}

.product-item .thumbnail-img {
    background: #770088;

}
.row .thumbnail
{
    background: #7ad6d6;
    box-shadow: 4px 4px #770088;
}
.product-item .thumbnail {
    margin: 2px;
}

.product-item .price {
    background: #770088;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 3px 3px #333;
    position: absolute;
    right: 0px;
    top: 18px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 4px;
}
.price:before {
    border: 4px solid transparent;
    border-bottom: 4px solid #222226;
    border-left: 4px solid #212826;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}

/*
Dashboard administrateur
 */
.action-update_delivery
{
    margin-right: 20px;

}

/**
Nouveau style bootstrap 5
 */

.row .card:hover {
    border: 1px solid #f8f8f8;
    box-shadow: 3px 3px 30px rgb(166, 255, 144)
}
.wrapper {
    margin-top: 30px
}

.card {
    border: 1px solid #eee;
    cursor: pointer
}

.weight {
    margin-top: -65px;
    transition: all 0.5s
}

.weight small {
    color: #e2dede
}

.buttons {
    padding: 10px;
    background-color: #d6d4d44f;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
    opacity: 0;
    transition: all 0.8s
}

.dot {
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #fff;
    opacity: 0
}

.cart-button {
    height: 48px
}

.cart-button:focus {
    box-shadow: none
}

.cart {
    position: relative;
    height: 48px !important;
    width: 50px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    transition: 1s ease-in-out;
    overflow: hidden
}

.cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards
}

@keyframes item {
    0% {
        opacity: 1;
        top: 30%;
        left: 30%
    }

    25% {
        opacity: 1;
        left: 26%;
        top: 0%
    }

    50% {
        opacity: 1;
        left: 23%;
        top: -22%
    }

    75% {
        opacity: 1;
        left: 19%;
        top: -18%
    }

    100% {
        opacity: 1;
        left: 14%;
        top: 28%
    }
}

.card:hover .buttons {
    opacity: 1
}

.card:hover .weight {
    margin-top: 10px
}

.card:hover {
    transform: scale(1.04);
    z-index: 2;
    overflow: hidden
}

/*
show product
 */

.act-price {
    color: red;
    font-weight: 700
}

.dis-price {
    text-decoration: line-through
}

.about {
    font-size: 14px
}

.color {
    margin-bottom: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 2px 9px;
    border: 2px solid #ff0000;
    display: inline-block;
    color: #ff0000;
    border-radius: 3px;
    text-transform: uppercase
}

label.radio input:checked+span {
    border-color: #ff0000;
    background-color: #ff0000;
    color: #fff
}

.btn-danger {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important
}

.btn-danger:hover {
    background-color: #da0606 !important;
    border-color: #da0606 !important
}

.btn-danger:focus {
    box-shadow: none
}

.cart i {
    margin-right: 10px
}