{% extends 'base.html.twig' %}

{% block title %}Nos produits - Aya Boutique{% endblock %}


{% block content %}
    <div class="container-fluid site ">

        <div class="row">
            <div class=" container  col-md-2 bg-transparent" style="margin-top: 150px">
                <h2>Filtre</h2>
                {{ form(form) }}
            </div>
            <div class="col-md-10">

                <div class="container titre">
                    <h1 class=" text-logo rounded-pill p-2 m-2  text-center "> {% block monTitre %} Nos produits{% endblock %} </h1>
                </div>

                <div class="wrapper">
                    <div class="row product-container ">

                        <div class="row g-1">
                            {% for product in products %}

                                <div class=" col-auto mb-5">
                                    {% include'product/single_product.html.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
