{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block content %}

    <div class="container rounded bg-dark text-white mt-5 p-3">
        <div class="container text-center">
            <h1>Inscription</h1>
        </div>
        <div class="form-group m-4 p-4">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
